body {
    text-align: center;
    background-image: url("https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Natural-Wood-Panels-Simple-Background-Image.jpeg");
}
#headdiv h1 {
    font-size: 20;
    background-color: chartreuse;
    color: red;
}
img {
    border: 5px;
    border-bottom-color: aqua;
    border-top-color: orangered;
    border-left-color: gold;
    border-right-color: chartreuse;
}
.topnav {
    overflow: hidden;
    margin-left: 10px;
}
.topnav a {
    float: left;
    text-align: center;
    text-decoration:none;
    margin-left: 20px;
    font-size: 25px;
    color: yellow;
}
.topnav a:hover {
    background-color:gray;
}
.topnav a.active {
    background-color: navy;
}

#contact h4 , h5 {
    font-size: 25px;
    color: white;   
}
#contact h5 a  {
    color: pink
}
#contact h2 {
    color: yellow;
}
#home h1  {
    color: cyan;
}
#home h2 {
    color: cyan;
}