body {
    text-align: center;
}
#headdiv h1 {
    font-size: 20;
    background-color: chartreuse;
    color: red;
}
img {
    border: 5px;
    border-bottom-color: aqua;
    border-top-color: orangered;
    border-left-color: gold;
    border-right-color: chartreuse;
}
.topnav {
    overflow: hidden;
    margin-left: 10px;
}
.topnav a {
    float: left;
    text-align: center;
    text-decoration:none;
    margin-left: 20px;
    font-size: 25px;
}
.topnav a:hover {
    background-color: blue;
}
.topnav a.active {
    background-color: red;
}

#contact h4 , h5 {
    font-size: 25px;
}
#contact h5 a  {
    color: blue
}
#contact h2 {
    color: red;
}